.candidate-card-wrapper{
    position: relative;
    width:270px;
    height: 480px;
}

.candidate-card{
border-radius: 12px;
overflow: hidden;
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
padding: 0;
}
.candidate-info{
    width: 100%;
    height: 50%;
    position: relative;
}
.candidate-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.candidate-details{
    padding: 1rem ;
    text-align: left;
    height: 100%;
    background-color: black;
    color: white;
    overflow-y: auto;
}
.candidate-details h2{
    font-size: 1.2rem;
    margin: 0 0 10px;
}
.candidate-details p{
    margin: 10px 0;
}
.button-container{
    position: absolute;
    bottom: -30px;
    width: 100%;
    display: flex;
}